In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bibledata_kaggle/AlamoPolyglot.csv')

In [3]:
df.shape

(31102, 15)

In [4]:
df

,id,book_id,book_name,chapter,verse,world_english_bible_web,king_james_bible_kjv,leningrad_codex,jewish_publication_society_jps,codex_alexandrinus,brenton,samaritan_pentateuch,samaritan_pentateuch_english,onkelos_aramaic,onkelos_english
0,1,1,Genesis,1,1,"In the beginning God{After ""God,"" the Hebrew h...",In the beginning God created the heaven and th...,בְּרֵאשִׁית בָּרָא אֱלֹהִים אֵת הַשָּׁמַיִם וְ...,In the beginning God created the heaven and th...,ἐν ἀρχῇ ἐποίησεν ὁ θεὸς τὸν οὐρανὸν καὶ τὴν γῆν,In the beginning God made the heaven and the e...,בראשית ברא אלהים את השמים ואת הארץ,In the beginning God created the heaven and th...,בְּקַדְמִין בְּרָא יְיָ יָת שְׁמַיָּא וְיָת אַ...,In the first times the Lord created the heaven...
1,2,1,Genesis,1,2,Now the earth was formless and empty. Darknes...,"And the earth was without form, and void; and ...",וְהָאָרֶץ הָיְתָה תֹהוּ וָבֹהוּ וְחֹשֶׁךְ עַל־...,"Now the earth was unformed and void, and darkn...",ἡ δὲ γῆ ἦν ἀόρατος καὶ ἀκατασκεύαστος καὶ σκότ...,"But the earth was unsightly and unfurnished, a...",והארץ היתה תהו ובהו וחשך על פני תהום ורוח אלהי...,"And the earth was without form, and void; and ...",וְאַרְעָא הֲוַת צָדְיָא וְרֵיקַנְיָא וַחֲשׁוֹכ...,"And the earth was waste and empty, and darknes..."
2,3,1,Genesis,1,3,"God said, ""Let there be light,"" and there was ...","And God said, Let there be light: and there wa...",וַיֹּאמֶר אֱלֹהִים יְהִי אוֹר וַיְהִי־אוֹר׃ ‬,"And God said: ""Let there be light."" And there ...",καὶ εἶπεν ὁ θεός γενηθήτω φῶς καὶ ἐγένετο φῶς,"And God said, Let there be light, and there wa...",ויאמר אלהים יהי אור ויהי אור,"And God said, Let there be light: and there wa...",וַאֲמַר יְיָ יְהֵי נְהוֹרָא וַהֲוָה נְהוֹרָא,"And the Lord said, Let there be light; and the..."
3,4,1,Genesis,1,4,"God saw the light, and saw that it was good. ...","And God saw the light, that it was good: and G...",וַיַּרְא אֱלֹהִים אֶת־הָאוֹר כִּי־טוֹב וַיַּבְ...,"And God saw the light, that it was good; and G...",καὶ εἶδεν ὁ θεὸς τὸ φῶς ὅτι καλόν καὶ διεχώρισ...,"And God saw the light that it was good, and Go...",וירא אלהים את האור כי טוב ויבדל אלהים בין האור...,"And God saw the light, that [it was] good: and...",וַחֲזָא יְיָ יָת נְהוֹרָא אֲרֵי טָב וְאַפְרֵשׁ...,And the Lord saw the light that it was good. A...
4,5,1,Genesis,1,5,"God called the light Day, and the darkness he ...","And God called the light Day, and the darkness...",וַיִּקְרָא אֱלֹהִים לָאוֹר יוֹם וְלַחֹשֶׁךְ קָ...,"And God called the light Day, and the darkness...",καὶ ἐκάλεσεν ὁ θεὸς τὸ φῶς ἡμέραν καὶ τὸ σκότο...,"And God called the light Day, and the darkness...",ויקרא אלהים לאור יום ולחשך קרא לילה ויהי ערב ו...,"And God called the light Day, and the darkness...",וּקְרָא יְיָ לִנְהוֹרָא יְמָמָא וְלַחֲשׁוֹכָא ...,"And the Lord called the light the Day, and the..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31097,31098,66,Revelation,22,17,"The Spirit and the bride say, ""Come!"" He who ...","And the Spirit and the bride say, Come. And le...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31098,31099,66,Revelation,22,18,I testify to everyone who hears the words of t...,For I testify unto every man that heareth the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31099,31100,66,Revelation,22,19,If anyone takes away from the words of the boo...,And if any man shall take away from the words ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31100,31101,66,Revelation,22,20,"He who testifies these things says, ""Yes, I co...","He which testifieth these things saith, Surely...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31101,31102,66,Revelation,22,21,The grace of the Lord Jesus Christ be with all...,The grace of our Lord Jesus Christ be with you...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31102 entries, 0 to 31101
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              31102 non-null  int64
 1   book_id                         31102 non-null  int64
 2   book_name                       31102 non-null  object
 3   chapter                         31102 non-null  int64
 4   verse                           31102 non-null  int64
 5   world_english_bible_web         31102 non-null  object
 6   king_james_bible_kjv            31102 non-null  object
 7   leningrad_codex                 23145 non-null  object
 8   jewish_publication_society_jps  23145 non-null  object
 9   codex_alexandrinus              23145 non-null  object
 10  brenton                         23145 non-null  object
 11  samaritan_pentateuch            5852 non-null   object
 12  samaritan_pentateuch_english    5852 non-null   object
 13  onkelos_aramaic                 5852 non-null   object
 14  onkelos_english                 5852 non-null   object
dtypes: int64(4), object(11)
memory usage: 3.6+ MB

In [6]:
period = pd.read_csv('TheographicBibleData/periods-Grid view.csv')

In [8]:
period.shape

(250, 10)

In [9]:
period

,yearNum,formattedYear,era,isoYear,BC-AD,peopleBorn,peopleDied,events,booksWritten,modified
0,-4004,4004 BC,NaN,-4003,BC,"adam_78,eve_1231",NaN,"God creates all things, God creates man and wo...",NaN,2023-12-02 23:09
1,-3941,3941 BC,NaN,-3940,BC,NaN,NaN,NaN,NaN,2019-07-22 00:52
2,-3939,3939 BC,NaN,-3938,BC,NaN,NaN,NaN,NaN,2020-05-15 01:08
3,-3938,3938 BC,NaN,-3937,BC,abel_13,NaN,NaN,NaN,2019-07-22 00:52
4,-3880,3880 BC,NaN,-3879,BC,NaN,abel_13,NaN,NaN,2019-07-22 00:52
...,...,...,...,...,...,...,...,...,...,...
245,-1580,1580 BC,NaN,-1579,BC,NaN,job_1639,NaN,NaN,2020-09-02 02:02
246,-1452,1452 BC,NaN,-1451,BC,NaN,moses_2108,NaN,NaN,2020-09-02 02:03
247,-1529,1529 BC,NaN,-1528,BC,caleb_537,NaN,NaN,NaN,2020-09-02 02:03
248,-1122,1122 BC,NaN,-1121,BC,NaN,eli_1072,NaN,NaN,2020-09-13 19:43
249,-1101,1101 BC,NaN,-1100,BC,NaN,samson_2468,NaN,NaN,2020-09-13 20:20

In [10]:
period['events'] = period['events'].str.split(',')

In [11]:
period = period.explode('events')

In [16]:
period['peopleBorn'] = period['peopleBorn'].str.split(',')

In [17]:
period = period.explode('peopleBorn')

In [19]:
period['peopleDied'] = period['peopleDied'].str.split(',')

In [20]:
period = period.explode('peopleDied')

In [21]:
period

,yearNum,formattedYear,era,isoYear,BC-AD,peopleBorn,peopleDied,events,booksWritten,modified
0,-4004,4004 BC,NaN,-4003,BC,adam_78,NaN,God creates all things,NaN,2023-12-02 23:09
0,-4004,4004 BC,NaN,-4003,BC,eve_1231,NaN,God creates all things,NaN,2023-12-02 23:09
0,-4004,4004 BC,NaN,-4003,BC,adam_78,NaN,God creates man and woman,NaN,2023-12-02 23:09
0,-4004,4004 BC,NaN,-4003,BC,eve_1231,NaN,God creates man and woman,NaN,2023-12-02 23:09
0,-4004,4004 BC,NaN,-4003,BC,adam_78,NaN,Man falls into sin,NaN,2023-12-02 23:09
...,...,...,...,...,...,...,...,...,...,...
245,-1580,1580 BC,NaN,-1579,BC,NaN,job_1639,NaN,NaN,2020-09-02 02:02
246,-1452,1452 BC,NaN,-1451,BC,NaN,moses_2108,NaN,NaN,2020-09-02 02:03
247,-1529,1529 BC,NaN,-1528,BC,caleb_537,NaN,NaN,NaN,2020-09-02 02:03
248,-1122,1122 BC,NaN,-1121,BC,NaN,eli_1072,NaN,NaN,2020-09-13 19:43
249,-1101,1101 BC,NaN,-1100,BC,NaN,samson_2468,NaN,NaN,2020-09-13 20:20

In [22]:
period.to_csv('TheographicBibleData/periods.csv',index=False)

In [23]:
events = pd.read_csv('TheographicBibleData/events-Grid view.csv')

In [26]:
events

,title,eventID,startDate,duration,rangeFlag,predecessor,lag,lagType,partOf,verses,participants,locations,groups,notes,verseSort,modified,sortKey
0,Creation of all things,1,-4003,6D,NaN,NaN,NaN,NaN,NaN,"Gen.1.1,Gen.1.2,Gen.1.3,Gen.1.4,Gen.1.5,Gen.1....","god_1324,jesus_905,holy_spirit_7400",NaN,NaN,NaN,1001001,11/25/2020 9:12am,-4002.98999
1,Creation of Adam and Eve,2,-4003,1D,NaN,NaN,NaN,NaN,"Lifetime of Adam,Creation of Adam and Eve","Gen.2.4,Gen.2.5,Gen.2.6,Gen.2.7,Gen.2.8,Gen.2....","adam_78,eve_1231,god_1324",eden_354,NaN,NaN,1002004,11/25/2020 9:12am,-4002.98998
2,The Fall,3,-4003,1D,checked,Creation of Adam and Eve,NaN,NaN,NaN,"Gen.3.1,Gen.3.2,Gen.3.3,Gen.3.4,Gen.3.5,Gen.3....","adam_78,eve_1231,god_1324",eden_354,NaN,NaN,1003001,11/25/2020 9:12am,-4002.98997
3,Lifetime of Adam,4,-4003,930Y,NaN,Creation of Adam and Eve,NaN,NaN,NaN,"Gen.5.3,Gen.5.4,Gen.5.5",adam_78,eden_354,NaN,NaN,1005003,11/25/2020 9:12am,-4002.98995
4,Cain kills Abel,5,-3874,1D,NaN,NaN,NaN,NaN,NaN,"Gen.4.1,Gen.4.2,Gen.4.3,Gen.4.4,Gen.4.5,Gen.4....","cain_533,abel_13",eden_354,NaN,NaN,1004001,11/25/2020 9:12am,-3873.98996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,Healing a Crowd near Sea of Galilee,400,29,1D,NaN,Healing Canaanite Daughter,NaN,NaN,NaN,"Mark.7.31,Mark.7.32,Mark.7.33,Mark.7.34,Mark.7...",jesus_905,"decapolis_328,sea_of_galilee_1032",NaN,NaN,41007031,2/1/2024 8:36pm,29.41007
398,Feeding of Four Thousand,401,29,1D,NaN,Healing a Crowd near Sea of Galilee,NaN,NaN,NaN,"Matt.15.32,Matt.15.33,Matt.15.34,Matt.15.35,Ma...",jesus_905,decapolis_328,Apostles,NaN,40015032,2/1/2024 8:45pm,29.40015
399,Discourse with Pharisees and Saducees,402,29,1D,NaN,Feeding of Four Thousand,NaN,NaN,NaN,"Mark.8.10,Mark.8.11,Mark.8.12,Mark.8.13,Mark.8...",jesus_905,dalmanutha_320,"Apostles,Pharisees,Sadducees",NaN,41008010,2/1/2024 8:53pm,29.41008
400,Healing a Blind Man at Bethsaida,403,29,1D,NaN,Discourse with Pharisees and Saducees,NaN,NaN,NaN,"Mark.8.22,Mark.8.23,Mark.8.24,Mark.8.25,Mark.8.26",jesus_905,bethsaida_231,NaN,NaN,41008022,2/1/2024 8:55pm,29.41008
401,"Peter's Confession ""Upon this Rock""",404,29,1D,NaN,Healing a Blind Man at Bethsaida,NaN,NaN,NaN,"Matt.16.13,Matt.16.14,Matt.16.15,Matt.16.16,Ma...","jesus_905,peter_2745",caesarea_philippi_267,Apostles,NaN,40016013,2/1/2024 9:02pm,29.40016

In [27]:
people = pd.read_csv('TheographicBibleData/people-completed_records.csv')

In [28]:
people

,personLookup,status,personID,displayTitle,alsoCalled,slug,name,surname,isProperName,gender,...,verseCount,verses,mother,father,children,siblings,halfSiblingsSameMother,halfSiblingsSameFather,chaptersWritten,eastons
0,aaron_1,publish,1,Aaron,NaN,aaron_1,Aaron,NaN,checked,Male,...,331,"Exod.4.14,Exod.4.27,Exod.4.28,Exod.4.29,Exod.4...",jochebed_1645,amram_242,"abihu_33,eleazar_1062,nadab_2128,ithamar_649","miriam_2087,moses_2108",NaN,NaN,NaN,Aaron
1,abel_13,publish,13,Abel,NaN,abel_13,Abel,NaN,checked,Male,...,9,"Gen.4.2,Gen.4.4,Gen.4.8,Gen.4.9,Gen.4.25,Matt....",eve_1231,adam_78,NaN,"cain_533,seth_2504",NaN,NaN,NaN,Abel
2,abimael_39,publish,39,Abimael,NaN,abimael_39,Abimael,NaN,checked,Male,...,2,"Gen.10.28,1Chr.1.22",NaN,joktan_1686,NaN,"almodad_191,jerah_842,diklah_1011,hadoram_1345...",NaN,NaN,NaN,Abimael
3,abimelech_40,publish,40,Abimelech (King of Gerar),NaN,abimelech_40,Abimelech,NaN,checked,Male,...,23,"Gen.20.2,Gen.20.3,Gen.20.4,Gen.20.8,Gen.20.9,G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abimelech 2
4,abiram_47,publish,47,Abiram (son of Eliab),NaN,abiram_47,Abiram,NaN,checked,Male,...,8,"Num.16.1,Num.16.12,Num.16.24,Num.16.25,Num.16....",NaN,eliab_1074,NaN,"dathan_982,nemuel_2177",NaN,NaN,NaN,Abiram 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,zeeb_3033,publish,3033,Zeeb,NaN,zeeb_3033,Zeeb,NaN,checked,Male,...,3,"Judg.7.25,Judg.8.3,Ps.83.11",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zeeb
282,zemarite_3036,publish,3036,Zemarite,NaN,zemarite_3036,Zemarite,NaN,checked,Male,...,2,"Gen.10.18,1Chr.1.16",NaN,canaan_914,NaN,"amorite_237,arkite_308,arvadite_316,jebusite_7...",NaN,NaN,NaN,Zemarite
283,zenas_3038,publish,3038,Zenas,NaN,zenas_3038,Zenas,NaN,checked,Male,...,1,Titus.3.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zenas
284,zidon_2738,publish,2738,Zidon,Sidon,zidon_2738,Zidon,NaN,checked,Male,...,2,"Gen.10.15,1Chr.1.13",NaN,canaan_914,NaN,"amorite_237,arkite_308,arvadite_316,jebusite_7...",NaN,NaN,NaN,Zidon
285,zillah_3080,publish,3080,Zillah,NaN,zillah_3080,Zillah,NaN,checked,Female,...,3,"Gen.4.19,Gen.4.22,Gen.4.23",NaN,NaN,"naamah_2118,tubal-cain_2884",NaN,NaN,NaN,NaN,Zillah